/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  max-width: 1170px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container{
  width: 70%;
  border: 1px solid r'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

.form-header{
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: 20px;
}

.form-header i{
  font-size: 1.5rem;
  color: rgb(7, 150, 143);
}

form{
  display: flex;
  justify-content: space-around;

  position: relative;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.search{
  position: absolute;
  right: 50%;
  bottom: -60%;
  transform: translate(50% , -50%);
  font-size: 17px;
  background-color: rgb(27, 115, 131);
  color: white;
  padding: 10px 50px;
  border: none;
  border-radius: calc(infinity*1px);
  cursor: pointer;
}

form .input-group{
  width: 30%;
  display: flex;
  gap: 10px;
  border: 1px solid rgb(219, 219, 219);
  padding: 10px 15px;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 30px;

  
}

.input-group>i{'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}

.btns{
  display: flex;
  gap: 10px;

}

.btns i{
  font-size: .5rem;

}



.plus{
  padding: 2px;
  width: 15px;
  height: 15px;
  background-color: rgb(187, 187, 187);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.minus{
  padding: 2px;
  width: 15px;
  height: 15px;
  border: 1px solid rgb(187, 187, 187);
  color: rgb(187, 187, 187);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} */


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  "Verdana", sans-serif;
  background-color: #222222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.fields{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 20px;

}

.fields .location{
  padding: 20px;
  border: 1px solid #5b5d60;
  color: white;
  border-radius: 5px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fields .location input{
  outline: none;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border: none;
  padding-inline: 20px;
}

.fields .location i{
  position: absolute;
  left: 15px;
  font-size: 1.3rem;
  color: #5b5d60;
}

button{
  z-index: 2;
  padding:15px;
  border: 1px solid #5b5d60;
  color: white;
  cursor: pointer;
  outline: none;
  background-color: #222222;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
}

button::before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #222222;
  top: -10px;

}
button::after{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #222222;
  bottom: -10px;

}